<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://github.com/espenoh/NewsBlur-Notifier" version="1.0">
  <name>NewsBlur Notifier</name>
  <description>Handy toolbar button with number of unread items from your NewsBlur acccount.</description>
  <author href="https://github.com/espenoh/NewsBlur-Notifier" email="kleevah@zawiarr.com">Espen Helgedagsrud</author>
  <icon src="icons/icon-64.png"/>
  
  <feature name="opera:share-cookies" required="true"/>
  <access origin="http://newsblur.com" subdomains="true"/>
  <access origin="https://newsblur.com" subdomains="true"/>

  <preference name="updateTime" value="300000" />
  <preference name="sshcheck" value="false" />
  <preference name="devcheck" value="false" />
</widget>
